@keyframes textfade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
 body {
  margin: 0;
  font-family: "Gruppo", cursive !important;
  animation: textfade 3s;
  width: 100vw;
}

.container {
  margin: 10px 0 10px 0;
}
  
nav ul {
  line-height: 28px;
  padding: 20px 0 0 0;
}
  
nav a {
  color: rgb(146, 146, 146) !important;
  text-decoration: none;
  font-size: medium;
}

#name {
  color: #2e3233 !important;
  text-decoration: none;
  font-size: xx-large;
  font-family: "Major Mono Display", monospace;
  border-top: 1px solid #2e3233;
  border-bottom: 1px solid #2e3233;
  padding: 10px 0 10px 0;
  margin: 0 0 0 12px;
}

#active {
  color: #272727 !important;
  font-weight: bolder;
}

#section5 {
  background-color: #fde9de;
}

.row {
  width: 100vw;
}

#bottomRow {
  background-color: #114658;
}

#colorPalette {
  padding: 0 ;
}

#sketch {
  width: 100vw;
}

#p2 {
  width: 100%;
  margin: 0 0 50px 0;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 1px;
  line-height: 30px;
}

#subHeaderA {
  font-family: 'Heebo', sans-serif;
  color: #272727;
}

#aoaLogos {
  margin-bottom: 20px;
}

button.navbar-toggler {
  outline: none !important;
  border: none !important;
}

@media screen and (min-width: 992px) {

#aoaLogos {
  margin-bottom: 0px;
}

nav a:hover {
  color: #2e3233 !important;
}

#name:hover {
  color: rgb(146, 146, 146) !important;
}

nav ul {
  padding: 0;
}

nav li::before {
  content: "";
  display: grid;
  height: 2px;
  background-color: #2e3233;;
  position: relative;
  top: 0%;
  width: 0%;
  transition: 200ms;
}

nav li:hover::before {
  width: 100%;
  background-color:#2e3233;;
  transition: ease-in-out 200ms;
}

}