@keyframes textfade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
 body {
  margin: 0;
  font-family: "Gruppo", cursive !important;
  animation: textfade 3s;
  width: 100vw;
}

#name {
  color: #2e3233;
  text-decoration: none;
  font-weight: 100;
  font-size: xx-large;
  font-family: "Major Mono Display", monospace;
}
  
nav ul {
  line-height: 28px;
  padding: 0 0 0 0;
}
  
nav a {
  color: rgb(146, 146, 146);
  text-decoration: none;
  font-size: medium;
}

.navbar-toggler {
}

#section5 {
  background-color: #fde9de;
}

.row {
  width: 100vw;
}
#topRow {
  padding: 5% 0 5% 0;
  margin: 0;
}

#bottomRow {
  background-color: #114658;
  padding: 5% 0 5% 0;
  margin: 0;
}

#colorPalette {
  padding: 0 ;
}

#sketch {
  width: 100%;
}

#p2 {
  width: 100%;
  margin: 0 0 50px 0;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 1px;
  line-height: 30px;
}

#subHeaderA {
  font-family: 'Heebo', sans-serif;
  color: #272727;
  font-size: x-large;
}

#aoaLogos {
  margin-bottom: 20px;
}
