@keyframes textfade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
body {
  margin: 0;
  font-family: "Gruppo", cursive !important;
  background-color: whitesmoke !important;
  animation: textfade 3s;
  width: 100vw;
}

.navbar {
  background-color: whitesmoke !important;
}

.container {
  margin: 10px 0 10px 0;
}

nav ul {
  line-height: 28px;
  padding: 20px 0 0 0;
}
  
nav a {
  color: rgb(146, 146, 146) !important;
  text-decoration: none;
  font-size: medium;
}

#name {
  color: #2e3233 !important;
  text-decoration: none;
  font-size: xx-large;
  font-family: "Major Mono Display", monospace;
  border-top: 1px solid #2e3233;
  border-bottom: 1px solid #2e3233;
  padding: 10px 0 10px 0;
  margin: 0 0 0 12px;
}

#active {
  color: #272727 !important;
  font-weight: bolder;
}

button.navbar-toggler {
  outline: none !important;
  border: none !important;
}

#design {
  color: #272727;
}

.headingDiv {
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#allLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #191919;
  padding: 0 0 30px 0;
}

#cbLink {
  padding: 30px 0 0 0;
  width: 95%;
}

#image {
  object-fit: cover;
  object-position: 0% 0;
  height: 270px;
}

@media screen and (min-width: 560px) {

#image {
  object-fit: cover;
  object-position: 0% 0;
  height: 100%;
}

#name {
  margin-left: 0;
}

}


@media screen and (min-width: 1000px) {
   
nav a:hover {
  color: #2e3233 !important;
}

#name:hover {
  color: rgb(146, 146, 146) !important;
}

nav ul {
  padding: 0;
}

nav li::before {
  content: "";
  display: grid;
  height: 2px;
  background-color: #2e3233;
  top: 0%;
  width: 0%;
  transition: 200ms;
}

nav li:hover::before {
  width: 100%;
  background-color:#2e3233;;
  transition: ease-in-out 200ms;
}

#image {
  object-fit: initial;
  height: initial;
}

#allLinks {
  padding: 30px 0 30px 0;
  margin: 0;
}

#cbLink {
    width: 90%;
    margin: 20px 0 20px 0;
    padding: 0;
}
