@keyframes textfade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  margin: 0;
  font-family: "Gruppo", cursive !important;
  background-color: whitesmoke !important;
  animation: textfade 3s;
  width: 100vw;
}

.navbar {
  background-color: whitesmoke !important;
}

.container {
  margin: 10px 0 10px 0;
}

nav ul {
  line-height: 28px;
  padding: 20px 0 0 0;
}
  
nav a {
  color: rgb(146, 146, 146) !important;
  text-decoration: none;
  font-size: medium;
}

#name {
  color: #2e3233 !important;
  text-decoration: none;
  font-size: xx-large;
  font-family: "Major Mono Display", monospace;
  border-top: 1px solid #2e3233;
  border-bottom: 1px solid #2e3233;
  padding: 10px 0 10px 0;
  margin: 0 0 0 12px;
}

#active {
  color: #272727 !important;
  font-weight: bolder;
}

button.navbar-toggler {
  outline: none !important;
  border: none !important;
}

.first-section {
  width: 100vw;
  margin: 0px 0 0 0;
}

#section2 {
  visibility: hidden;
  display: none;
}

#image {
  object-fit: cover;
  object-position: 50% 0;
  width: 100vw;
  height: 500px;
}

#intro {
  background-color: whitesmoke;
  padding-top: 30px;
}

#div1 {
  background-color: #272727;
}

#blank {
  visibility: hidden;
  display: none;
}

#fixed {
  visibility: hidden;
  display: none;
}

#infoBody {
  display: flex;
  flex-direction: column;
  margin: 10px;
  background-color: #272727;
}

.rightColumn {
  width: 86%;
  margin: 0 0 0 7%;
}

#about1{
  padding: 50px 0 20px 0;
  width: 50%;
  margin: 0px;
  color: #dbdbdb;
  text-align: center;
  font-family: 'Heebo', sans-serif;
  line-height: 40px;
}

#about2{
  padding: 20px 0 0 0;
  border-top: 1px solid #dbdbdb70;
  width: 100%;
  color: #dbdbdb;
  text-align: left;
  font-family: 'Quicksand', sans-serif;
  line-height: 30px;
  letter-spacing: 1px;
}

.labels {
  color: #929292;
}

.links {
  text-decoration: none;
  color: #dbdbdb;
  cursor: pointer;
  line-height: 25px;
}

.homeATags {
  color: #dd8d55;
}

.pageEnd {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #272727;
  padding: 50px 0 50px 0;
  margin: 0 0 0 7%;
}

.pageEnd2 {
  width: 85%;
  text-align: left;
  color: #dbdbdb;
  font-family: 'Quicksand', sans-serif;
}

.linkIcons {
  display: flex;
  flex-direction: row;
}

@media screen and (min-width: 500px) {
  #name {
    margin-left: 0;
  }
}

@media screen and (min-width: 1000px) {

@keyframes textfade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

nav a:hover {
  color: #2e3233 !important;
}

#name:hover {
  color: rgb(146, 146, 146) !important;
  border-top: 1px solid rgb(146, 146, 146);
  border-bottom: 1px solid rgb(146, 146, 146);
}

nav ul {
  padding: 0;
}

nav li::before {
  content: "";
  display: grid;
  height: 2px;
  background-color: #2e3233;
  top: 0%;
  width: 0%;
  transition: 200ms;
}

nav li:hover::before {
  width: 100%;
  background-color:#2e3233;;
  transition: ease-in-out 200ms;
}

.first-section {
  margin: 0;
}

#section2 {
  visibility: visible;
  display: unset;
  width: 25%;
  background-color: rgb(77, 77, 77);
}

#image {
  object-position: 0 0;
  height: initial;
}

.homeATags:hover {
  text-decoration: none;
  color: #dbdbdb;
}

#infoBody {
  flex-direction: row;
  flex-wrap: wrap;
  margin: 25px  25px 25px 25px;
}

#section2-pic {
  width: 100%;
  margin: 150px 0 0 25%;
}

.rightColumn {
  width: 50%;
  margin: 0 0 0 12%;
}

#about1{
  padding: 75px 0 20px 0;
}

.pageEnd {
  margin: 0 0 0 12%;
}

.links:hover {
  color:#c2c2c2;
  -webkit-transform:scale(1.03);
  text-decoration: none;
}
}