@keyframes textfade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
body {
  margin: 0;
  font-family: "Gruppo", cursive !important;
  background-color: whitesmoke !important;
  animation: textfade 3s;
  width: 100vw;
}

.navbar {
  background-color: whitesmoke !important;
}

.container {
  margin: 10px 0 10px 0;
}

nav ul {
  line-height: 28px;
  padding: 20px 0 0 0;
}

nav a {
  color: rgb(146, 146, 146) !important;
  text-decoration: none;
  font-size: medium;
}

#name {
  color: #2e3233 !important;
  text-decoration: none;
  font-size: xx-large;
  font-family: "Major Mono Display", monospace;
  border-top: 1px solid #2e3233;
  border-bottom: 1px solid #2e3233;
  padding: 10px 0 10px 0;
  margin: 0 0 0 12px;
}

#active {
  color: #272727 !important;
  font-weight: bolder;
}

button.navbar-toggler {
  outline: none !important;
  border: none !important;
}
  
#music {
  color: #272727;
}

.videosDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 95%;
  margin: 30px 0 30px 2.5%;
}

.videoDiv {
  width: 95%;
  margin: 0 5px 40px 5px;
}

.video {
  height: 200px;
}

@media screen and (min-width: 500px) {

.name {
  margin: 0;
}
   
.videosDiv {
  width: 90%;
  margin: 30px 0 30px 5%;
}

.videoDiv {
  width: 500px;
  margin: 0 0 40px 0;
}
.video {
  height: 280px;
}

@media screen and (min-width: 500px) {
  #name {
    margin-left: 0;
  }
}

@media screen and (min-width: 1000px) {

@keyframes textfade {
    0% {
    opacity: 0;
    }
    100% {
    opacity: 1;
    }
}

nav a:hover {
  color: #2e3233 !important;
}
  
#name:hover {
  color: rgb(146, 146, 146) !important;
}

nav ul {
  padding: 0;
}

nav li::before {
  content: "";
  display: grid;
  height: 2px;
  background-color: #2e3233;
  top: 0%;
  width: 0%;
  transition: 200ms;
}

nav li:hover::before {
  width: 100%;
  background-color:#2e3233;;
  transition: ease-in-out 200ms;
}

.videosDiv {
  width: 80%;
  margin: 60px 10% 30px 10%;
}

.videoDiv {
  width: 40%;
  margin: 0 5px 40px 5px;
}

.video {
  width: 100%;
}
