@keyframes textfade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
  
body {
  margin: 0;
  font-family: "Gruppo", cursive !important;
  background-color: whitesmoke !important;
  animation: textfade 3s;
  width: 100vw;
}

.navbar {
  background-color: whitesmoke !important;
}

.container {
  margin: 10px 0 10px 0;
}

nav ul {
  line-height: 28px;
  padding: 20px 0 0 0;
}
  
nav a {
  color: rgb(146, 146, 146) !important;
  text-decoration: none;
  font-size: medium;
}

#name {
  color: #2e3233 !important;
  text-decoration: none;
  font-size: xx-large;
  font-family: "Major Mono Display", monospace;
  border-top: 1px solid #2e3233;
  border-bottom: 1px solid #2e3233;
  padding: 10px 0 10px 0;
}

#active {
  color: #272727 !important;
  font-weight: bolder;
}

button.navbar-toggler {
  outline: none !important;
  border: none !important;
}

.title {
  margin: 30px 0 0 0;
  padding: 0 0 10px 0;
  width: 70%;
  font-family: 'Heebo', sans-serif;
  color: rgb(78, 78, 78);
  font-size: 16px;
  border-bottom: 1px solid rgb(214, 214, 214);
}

#leftcolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grounded {
  color: rgb(78, 78, 78);
  border-bottom: 1px solid rgb(214, 214, 214);
  padding-bottom: 40px;
  visibility: hidden;
  display: none;
}

.row {
  width: 90%;
}

figure a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.picsize {
  width: 95%;
}

.picsizeB {
  width: 95%;
}

.picsizeC {
  width: 95%;
}

.preface {
  margin: 10px 0 30px 0;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 12px;
}

.piccaption {
  text-transform: initial;
  width: 90%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: grey;
  margin: 10px 0 25px 5%;
  font-size: 10px;
}

@media screen and (min-width: 992px) {
  nav a:hover {
    color: #2e3233 !important;
  }
  
  #name:hover {
    color: rgb(146, 146, 146) !important;
  }
  
  nav ul {
    padding: 0;
  }
  
  nav li::before {
    content: "";
    display: grid;
    height: 2px;
    background-color: #2e3233;
    top: 0%;
    width: 0%;
    transition: 200ms;
  }
  
  nav li:hover::before {
    width: 100%;
    background-color:#2e3233;;
    transition: ease-in-out 200ms;
  }

  .title {
      justify-content: center;
      margin: 35px 0 35px 0;
      width: 100vw;
      border: none;
  }

  #mainsection {
      width: 100%;
  }

  #leftcolumn {
    display: unset;
    visibility: visible;
    margin: 0 0 0 0;
    background-color: rgb(22, 22, 22);
    padding: 3% 0 0 10%;
    width: 35%;
  }

  .grounded {
    color: rgb(121, 121, 121);
    border-bottom: 1px solid rgb(158, 158, 158);
    margin-bottom: 40px;
    font-family: 'Heebo', sans-serif;
    visibility: visible;
    display: unset;
  }

  .preface {
    margin: 80px 0 0 0;
    text-align: left;
    color: rgb(143, 143, 143);
    line-height: 30px;
    letter-spacing: 1px;
    font-size: 14px;
  }

  #rightcolumn {
    padding: 30px 0 0 0;
    width: 75%;
  }

  .piccaption {
    width: 80%;
    margin: 0 0 20px 0;
    margin-top: 5px;
    font-size: small;
  }

  img:hover {
    -webkit-transform:scale(1.02);
  }

  .figures {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 30px 0;
  }

  .figuresB {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 0 0 30px 0;
  }

  .figuresC {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 0 30px 0;
  }

  #readMore {
    color: rgb(175, 175, 175);
  }

  #stickyDiv {
    padding-top: 30px;
    margin-right: 0;
    width: fit-content;
  }

}